---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "AI-Crafted Content",
    description:"Our tool generates engaging educational videos, ensuring quality and relevance through advanced artificial intelligence algorithms for a personalized learning experience.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Subscription Benefits",
    description:
      "Subscribers gain access to a plethora of educational resources, earning credits to unlock and enroll in AI-created courses that cater to individual learning preferences.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Dynamic Learning Paths",
    description:
      " Harness the power of AI to adapt and customize learning paths, providing users with a unique and effective educational journey that aligns with their goals and interests. ",
    icon: "bx:bxs-data",
  },
  {
    title: " Tailored for You",
    description:
      "Enjoy courses specifically designed for your needs, as our AI analyzes user data to create personalized content, enhancing comprehension and retention of information.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Continuous Improvement",
    description:
      "Our tool evolves with every use, learning from user interactions to enhance content creation, ensuring an ever-improving and cutting-edge educational experience.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Community Engagement",
    description:
      "Join a community of learners using the same AI tool. Collaborate, share insights, and collectively benefit from an enriched educational ecosystem.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    "Unlock Limitless Learning Possibilities with AI Courses"
  </h2>
  <p class="text-lg mt-4 text-slate-600">Explore diverse AI courses, tailored for you—empowering your learning journey like never before.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
